// Auroræ Grid :: Settings
@import '../../aurora-shared/src/settings';

$ae-grid-float: false;

/// $ae-flex-default-status
/// @var {0 0 100%}     :: valid `flex` shorthand value [ 0 0 100% ] [ 1 ] [ unset ] [ auto ]
$ae-flex-default-status: 0 0 100% !default;
$ae-flex-align: true;
$ae-flex-order: true;

$ae-masonry: true;

$ae-columns: 12 !default;
// $ae-gutter: 1.25rem !default;
$ae-gutter: .5rem !default;

$ae-container-fixed-width: 980px;
$ae-container-widths: (
  sm: 40rem,
  md: 48.75rem,
  lg: 62rem,
  xl: 72.25rem
) !default;

/// $ae-container-max-width 
/// @var {null}     :: fluid container [ $ae-container-max-width: null !default ]
/// @var {Number}   :: fixed container [ $ae-container-max-width: $ae-container-fixed-width !default ]
/// @var {Map}      :: fixed container based on breakpoints
$ae-container-max-width: $ae-container-widths !default; 
